<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>
    a poem from you <3
  </title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
</head>
<body>
  <div class="container">
    <div class="row my-5 text-center">
      <div class="col">
        <form action="" method="POST">
          <div class="form-group my-3">
            <label for="source_text" class="mb-3">Copy-paste your text! The longer it is, the better and more varied results will be. It will be sanitized with most punctuation and all capitalization and whitespace stripped.</label>
            {{ form.source_text }}
          </div>
          <div class="form-group my-3">
            I want a {{ form.poem_format }}
          </div>
          <div class="form-group my-3">
            <input type='submit' value='go!' onclick="this.disabled=true;this.value='thinking...';this.form.submit();">
          </div>
          <div class="form-group my-3">
            <p>If your input is long, it could take a while to analyze! Please be patient :)</p>
          </div>
        </form>
      </div>
    </div>
  </div>
  <footer class="page-footer fixed-bottom font-small text-center text-secondary">
  <p>
    made with love by <a class="text-info" href="https://www.twitter.com/hartknyx">@hartknyx</a> |
    open source at <a class="text-info" href="https://www.github.com/katlings/pyambic-pentameter">github</a> |
    <a href="/">home</a>
  </p>
  </footer>
</body>
</html>
